:root {
    --h1-font: 'Poppins', sans-serif;
    --h1-size: 6rem;
    --h1-weight: 900;
    
    --h2-font: 'Poppins', sans-serif;
    --h2-size: 3rem;
    --h2-size: 2.5rem;
    --h2-weight: 600;
    
    --p-font: 'Poppins', sans-serif;
    --p-size: 1rem;
    --p-weight: 400;

    --header-bg-color: #111111;
    --nav-brand-height: 35px;
    --nav-item-color: #f5f5f5;
    --top-nav-item-color: #f5f5f5;
    --hero-bg-color: #111111;
    --footer-brand-height: 80px;

    --primary-color: #dd1e4b;
    --secondary-color: #E0040B;
    
    --white-color: #f9f9f9;
    --black-color: #040402;
    --dark-grey-color: #191919;

    --primary-t-color: #2f323a;
    --secondary-t-color: #f5f5f5; 
    --primary-p-color: #6f6f6f;
    --primary-p-color: #f5f5f5; 
    --secondary-p-color: #8e8e8e;
    --secondary-p-color: #f5f5f5; 
    --primary-b-color: #f5f5f5;
    --primary-l-color: rgba(0, 0, 0, .25);
    --secondary-l-color: rgba(255, 255, 255, 0.25);
    --play-color: rgba(255, 255, 255, 0.65);

    --valid-color: #007a4d;
    --invalid-color: #e34f4f;

    --primary-bg-color: #f5f5f5;
    --primary-bg-color-2: #eeeeee;
    --primary-bg-color-3: #e5e5e5;

    --secondary-bg-color: #040402;
    --secondary-bg-color-2: #111111;
    --secondary-bg-color-3: #191919;

    --card-bg-color: #f5f5f5;

    --footer-bg-color: #111111;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}


.primary-button,
.primary-button:visited, .primary-button:active {
    position: relative;
    z-index: 2;
    padding: 10px 25px;
    background-color: var(--primary-color);
    border-radius: 2px;
    color: var(--primary-b-color);
    font-weight: 400;
}

.primary-button:hover, .primary-button:focus {
    background-color: var(--primary-color);
    background-image: -webkit-linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
    background-image: linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
    color: var(--primary-b-color);
}

.dark-button,
.dark-button:visited, .dark-button:active {
    position: relative;
    z-index: 2;
    padding: 10px 25px;
    background-color: var(--hero-bg-color);
    border-radius: 0;
    color: var(--white-color);
    font-weight: 400;
}

.dark-button:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    background-image: -webkit-linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
    background-image: linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
}

.dark-button:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 2px;
    left: 2px;
    bottom: 0;
    right: 0;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border-radius: 0;
    background-color: inherit;
}

.dark-button.inherit:after {
    background-color: inherit;
}

.dark-button:hover, .dark-button:focus,
.dark-button:hover:after, .dark-button:focus:after {
    background-color: var(--primary-color)!important;
    background-image: -webkit-linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%)!important;;
    background-image: linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%)!important;;
    color: var(--white-color)!important;;
}

footer .dark-button {
    background-color: var(--footer-bg-color);
}

/* #endregion Button */

/*----------------------------------------------
3. Effect
----------------------------------------------*/

/* #region Effect */

.effect-static-text {
    background-image: -webkit-linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
    background-image: linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
         background-clip: text;
    -webkit-text-fill-color: transparent;
}

.effect-static-text-light {
    background-image: -webkit-linear-gradient(45deg, var(--secondary-color-light) 15%, var(--primary-color-light) 65%);
    background-image: linear-gradient(45deg, var(--secondary-color-light) 15%, var(--primary-color-light) 65%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
         background-clip: text;
    -webkit-text-fill-color: transparent;
}


.effect-static-text i {
    -webkit-text-fill-color: var(--primary-color);
}

.effect-static-text-light i {
    -webkit-text-fill-color: var(--primary-color-light);
}

.effect-motion-text,
.effect-motion-hover:hover {
    background-image: linear-gradient(to right, var(--primary-color) 20%, var(--primary-t-color) 40%, var(--primary-t-color) 60%, var(--primary-color) 80%);
    background-size: 200% auto;
    -webkit-background-clip: text;
    -moz-background-clip: text;
         background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: effect 1s linear infinite;
    animation: effect 1s linear infinite;
}

.effect-motion-text i,
.effect-motion-hover:hover i {
    -webkit-text-fill-color: var(--primary-color);
}

.effect-static-bg {
    background-image: -webkit-linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
    background-image: linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
}

.effect-motion-bg {
    background-image: -webkit-linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
    background-image: linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
    background-size: 200% auto;
    -webkit-animation: effect 1s linear infinite;
    animation: effect 1s linear infinite;
}

/* #endregion Effect */

:root {
    
    --primary-color: #5900ff;
    --secondary-color: #8340ff;
    --primary-color-light: #f5f5f5; 
    --secondary-color-light: #88b9f1;
}

.darker-text{
    color: black;
}